 body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #887676;
    color: #141414;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.profile {
    width: 100 px;
    border-radius: 50%;
}

.highlight {
    color: #fbfeff;
}

.section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
background-color: #886637;
color: white;
}
